.dropDown {
	display: none;
	width: 100px;

	&--list {
		padding: 5px 0;
	}
		&--group {
			margin-bottom: 5px;
		}
	&--option {
		list-style: none;
		background: #F5D2D2;
		padding: 3px 5px;
		border-bottom: 1px solid #200707;
		cursor: pointer;
		.current {
			display: none;
		}
		.icon {
			background: blue;
			color: white;
		}
		&-selected {
			background: red;
			.current {
				display: inline-block;
			}
		}
		&:hover,
		&-hovered {
			color: #FFF;
		}

	}
	&-hidden {
		display: none;
	}
	&-shown {
		display: block;
	}
}